{%  extends 'base.html.twig' %}

{% block body %}

{#<h2>Publishers ({{ publishers|length }})</h2>#}

    <div class="container">
        <div class="row">
            <h1>Games Library</h1>
        </div>
        <div>
            <h3>List of Publishers:</h3>
            <ul class="list-group">
            {% for publisher in publishers %}
            <li class="list-group-item">{{ publisher.name }}</li>
            {% endfor %}
            </ul>
        </div>
        <div>
            <h3>List of Games:</h3>
            <ul class="list-group">
                {% for game in games %}
                    <li class="list-group-item">{{ game.name }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>

{% endblock %}
